apiVersion: apps/v1
kind: Deployment
metadata:
  name: mailhog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mailhog
  template:
    metadata:
      labels:
        app: mailhog
    spec:
      containers:
      - name: mailhog
        image: mailhog/mailhog
        ports:
        - containerPort: 8025
        - containerPort: 1025
---
apiVersion: v1
kind: Service
metadata:
  name: mailhog
spec:
  selector:
    app: mailhog
  ports:
  - name: web
    port: 8025
    targetPort: 8025
  - name: smtp
    port: 1025
    targetPort: 1025

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
      - name: notifications
        image: docker.io/itp22103/notifications-image:v1.0 
        ports:
        - containerPort: 5000
        env:
        - name: MAILHOG_HOST
          value: mailhog  # Replace with the name of the MailHog service
        - name: MAILHOG_PORT
          value: "1025"
---
apiVersion: v1
kind: Service
metadata:
  name: notifications
spec:
  selector:
    app: notifications
  ports:
  - name: http
    port: 5000
    targetPort: 5000

